<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li>
          <!-- <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a> -->
          {{#link-to "rss"}}<i class="fa fa-rss"></i> <span class="nav-label">RSS</span>{{/link-to}}
          {{#link-to "rssfilter"}}<i class="fa fa-rss"></i> <span class="nav-label">RSS con Filtro</span>{{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
  <div id="page-wrapper" class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Grupo 1 - Publicación de resultados.</h2>
      </div>
    </div>
    {{outlet}}
    <div class="footer">
      <div class="pull-right">
        <strong>Taller 1 - Big Data - MINE</strong>
      </div>
      <div>
        <strong>Copyright</strong> Universidad de los Andes &copy; 2017
      </div>
    </div>
  </div>
</div>
